<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<br>
<button type="button" class="btn btn-outline-success" (click)="aggiungi()">aggiungi</button>
<br>
<br>
<table class="table">
    <tr *ngFor="let el of dati; index as i">
        <td>{{el.id}}</td>
        <td>{{el.birthDate}}</td>
        <td>{{el.firstName}}</td>
        <td>{{el.lastName}}</td>
        <td><button type="button" class="btn btn-outline-warning"(click)="modifica(el)">modifica</button></td>
        <td><button type="button" class="btn btn-outline-danger" (click)="elimina(i)">elimina</button></td>
    </tr>
</table>
<br>


<div *ngIf="elMod != null">
    <input type="text" [(ngModel)]="elMod.id">
    <input type="text" [(ngModel)]="elMod.birthDate">
    <input type="text" [(ngModel)]="elMod.firstName">
    <input type="text" [(ngModel)]="elMod.lastName">
    <button type="button" class="btn btn-info" (click)="closeEdit()">close</button>
</div>
